body {background-color:#fff;font-size:14px;margin:0;padding:0;}
body * { font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a, a:hover {text-decoration:none;}
header {background-color:#EEE; border-bottom:1px solid #CCC;}
header h1{text-align:center;margin:0;padding:0;font-size:32px;font-weight: bold;line-height:40px;}
header h1 a,
header h1 a:hover{color:#333}


.canvas_container {
    display: inline-block;
}

.game_info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.game_info .item { margin-top: 30px;}
.game_info .item label {
    font-weight: bold;
    display:block;
    padding-bottom:4px;
}
.game_info .item.control div {margin-top:10px;}

.game_info a {color: #444; font-weight: bold}

.message_box {
    left:0;
    top:20px;
    width:100%;
    z-index:1000;
    position:absolute;
    background-color: #999;
    height: 100px;
    line-height: 100px;
    color:#000;
    opacity: 0.3;
    font-weight:bold;
    font-size:30px;
}


/* Tetris */
.tetris {
    margin-top:20px;
    background-color: #fff;
    text-align:center;
}
.tetris .canvas {
    margin:0;
    padding:0;
    display: inline-block;
    z-index:10
}

.tetris .canvas li {
    display:table-row;
}

.tetris .canvas li span {
    display: table-cell;
    border: 1px solid #e9e9e9;
}

.tetris .canvas li span .inline_cell {
    display: table-cell;
    width: 12px;
    height: 12px;
}

.tetris .next .canvas {
    border: none;
}
.tetris .next .canvas li span .inline_cell {
    width: 6px;
    height: 6px;
}

.tetris .next .canvas li span .inline_cell {
    border: 3px solid #f5f5f5;
}


/* anchient theme */
.tetris .canvas li span .inline_cell {
    width: 10px;
    height: 10px;
}

.tetris.anchient .canvas {
    border: 1px solid #ccc;
}

.tetris.anchient .canvas li span {
    border: 1px solid #dedede;
}

.tetris.anchient .canvas li span .inline_cell {
    background-color: #ddd;
    border: 4px solid #eee;
}

.tetris.anchient .canvas li span.current .inline_cell {
    background-color: #000 !important;
    border-color: #333 !important;
}

.tetris.anchient .canvas li span.settled .inline_cell {
    background-color: #000 !important;
    border-color: #333 !important;
}


/* Light Theme */
.tetris.light .canvas {
    border: 1px solid #ccc;
}

.tetris.light .canvas li span {
    border: 1px solid #e9e9e9;
}

.tetris.light .canvas li span .inline_cell {
    background-color: #fdfdfd;
    border: 6px solid #f5f5f5;
}

.tetris.light .canvas li span.current .inline_cell {
    background-color: #cc3300 !important;
    border-color: #b32d00 !important;
}

.tetris.light .canvas li span.settled .inline_cell {
    background-color: #0033cc !important;
    border-color: #0066ff !important;
}
